{% extends parent_template %}

# Labels
{% block labels %}
LABEL maintainer="{{ maintainer }}" name="{{ image_name }}" build-date="{{ build_date }}"
LABEL org.opencontainers.image.source="https://github.com/fitbeard/kolla-builder"
{% endblock %}

# Horizon
{% block horizon_footer %}
ADD additions-archive /
RUN yes | cp -r /additions/horizon-additions-custom-theme*/antelope/static/img/* \
    /var/lib/kolla/venv/lib/python{{ distro_python_version }}/site-packages/openstack_dashboard/static/dashboard/img/ \
    && yes | cp -r /additions/horizon-additions-custom-theme*/antelope \
    /var/lib/kolla/venv/lib/python{{ distro_python_version }}/site-packages/openstack_dashboard/themes/custom
{% endblock %}
